@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "Bonechiller";
  src: url("/fonts/bonechiller.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.custom-title {
  font-family: "Bonechiller", sans-serif;
}

@font-face {
  font-family: "Mistery";
  src: url("/fonts/mistery-ilahi.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.custom-text {
  font-family: "Mistery", sans-serif;
}
